.google {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

#container {
    width: 30%;
    background-color: #ffffff;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.img {
    position: absolute;
    top: 8px;
    right: 220px;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.img:hover {
    font-size: 14px;
    background-color: #e7e7e7;
    border-radius: 4px;
}

.adv {
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.adv:hover{
    font-size: 14px;
    background-color: #e7e7e7;
    border-radius: 4px;
}

.advsearch {
    text-align: left;
    margin-left: 30px;
    line-height: 2em;
    margin-top: 10em;
}

.button {
    background-color: #ffffff;
    position: relative;
    top: 20px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.button:hover {
    font-size: 14px;
    background-color: #e7e7e7;
    border-radius: 4px;
}

.blue{
    position: relative;
    background-color: #008CBA;
    color: white;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    bottom: 10;
    margin-left: 500px;
}

.blue:hover {
    background-color: #0059b3;
    color: white;
}

.box {
    width: 200px;
    border-radius: 1px;
}